@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";


:root{
  --overlay-bg:rgba(0,0,0,0.4);
  --overlay-inner-width:500px;
}

@layer utilities{

  .w-55{
    width: 230px;
  }

  .ml-230{
    margin-left:230px;
  }

  .h-70{
    min-height:70vh;
  }

  .bg-overlay{
    background-color: var(--overlay-bg);
  }

  .zindex-1001{
    z-index:100;
  }

  .overlay-inner-width{
    width: var(--overlay-inner-width);
  }

  .text-md{
    font-size:15px;
  }

  .text-sm{
    font-size:14px
  }

  .text-xs{
    font-size:12px;
  }


}



html,
body {
  padding: 0;
  margin: 0;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  /* font-family: 'Montserrat', sans-serif; */
  /* font-family: 'Poppins', sans-serif; */
  /* font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif; */
    font-size: 13px;
    line-height: 23px;
    font-weight: 400;
    color: #000000;
    /* background-color: #fbfafa; */
    /* background-color: rgba(251, 250, 250, 0.953); */
    /* color: #141414; */
    /* background-color: #0f5c7b; */
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

.sidebar{
  width: 230px;
}

.projects-header-grid, .projects-body-grid, .tasks-header-grid,.tasks-body-grid{
  display: grid;
  grid-template-columns: 5% 30% 25% 10% 10% 10% 6%;
  grid-column-gap: 0.3rem;
  align-items: center;
}

@media screen and (max-width:600px) {
  .projects-header-grid, .projects-body-grid{
    display: grid;
    grid-template-columns: 10% 60% 20%;
    align-items: center;
  }

  .sidebar{
    width: 90%;
  }

}

